:root {
  --clr-black: #000909;
  --clr-grey: #f1f1f1;
  --clr-white: #ffffff;

  --MONO: 0;   /* Monospace    */
  --CASL: 0;   /* Casual       */
  --slnt: 0;   /* Upright      */
  --CRSV: 0.5; /* Auto Cursive */

  --size-s: 0.8rem;
  --size-m: 1rem;
  --size-l: 2rem;

  --fw-light: 350;
  --fw-regular: 550;
  --fw-bold: 1000;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: var(--clr-grey);
}

*,
*:before,
*:after {
  font-variation-settings: 
    "MONO" var(--MONO), "CASL" var(--CASL),
    "slnt" var(--slnt), "CRSV" var(--CRSV);
    box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Recursive', sans-serif;
  background: var(--clr-grey);
  overflow: auto;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* =========================================
---------------- TYPOGRAPHY -------------
========================================= */

p,
.btn,
h2,
h3,
h4,
h5,
h6,
li,
b {
  font-weight: var(--fw-light);
  font-size: var(--size-s);
  line-height: 1.3rem;
}

a {
  color: var(--clr-acc-2);
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

h1, header h1 {
  font-weight: 1000;
  transition: 1s;
  color: var(--clr-acc-1);
}

h3 {
  font-size: var(--size-l);
  font-weight: var(--fw-bold);
  transition: 1s;
  margin: 0;
}

h3:hover {
  font-weight: var(--fw-light);
}

/* =========================================
---------------- PROJECT GRID -------------
========================================= */

.intro {
  padding: 3rem;
  grid-column: span 2;
  grid-row: span 2;
  aspect-ratio: 1;
}

.lecturer {
  padding: 3rem;
  grid-column: span 1;
  grid-row: span 2;
  aspect-ratio: 1;
}

#projectGrid .intro p {
  --CASL: 1;
  line-height: 2.4rem;
  font-size: var(--size-l);
  display: contents;
}

#instructors .lecturer p, #credits p {
  --CASL: 1;
  line-height: 1.4rem;
  font-size: var(--size-m);
  display: contents;
}

#credits p {
  display: block;
  margin-bottom: 0;
}

#projectGrid .intro p > a {
  --CASL: 1;
  --slnt: -12;
  line-height: 2.4rem;
  font-size: var(--size-l);
  font-weight: var(--fw-light);
  display: contents;
  text-decoration: none;
  transition: 1s;
}

#instructors .lecturer p > a, #credits p > a {
  --CASL: 1;
  --slnt: -12;
  line-height: 2.4rem;
  font-size: var(--size-m);
  font-weight: var(--fw-light);
  display: contents;
  text-decoration: none;
  transition: 1s;
}

#projectGrid .intro p > a:hover, #instructors .lecturer p > a:hover, #credits p > a:hover, #credits a:hover {
  font-weight: var(--fw-regular);
  transition: 1s;
}

/* ProjectGrid */

#projectGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px;
}

#projectGrid > *, #instructors > * {
  background-color: var(--clr-grey);
}

#instructors {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
}

#credits {
  width: 100%;
  padding: 3rem;
}

/* ProjectGrid Img */

#projectGrid img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  background: var(--clr-grey);
  padding: 0.3rem;
}

#projectGrid a img {
  transition: all 0.3s ease;
}

#projectGrid a:hover img {
  opacity: 0.1;
}

/* ProjectGrid Text */

#index a {
  color: var(--clr-black);
}

#index h3 {
  margin: 0 0 2rem 0;
  display: contents;
}

#index h3 a {
  font-size: var(--size-l);
  font-weight: var(--fw-bold);
  transition: 1s;
  text-decoration: none;
}

#instructors h3, #instructors h3 a, #credits h3, #credits h3 a {
  font-size: var(--size-m);
  font-weight: var(--fw-bold);
  transition: 1s;
  text-decoration: none;
}

#index h3 a:hover {
  font-weight: var(--fw-regular);
}

#projectGrid > div {
  background: var(--clr-grey);
}

#projectGrid > a {
  position: relative;
  z-index: 1;
}

#projectGrid > a > div {
  position: absolute;
    width: 80%;
    top: 52%;
    left: 50%;
    z-index: -1;  
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--size-l);
    font-weight: var(--fw-400);
    text-align: center;
}

#projectGrid h2,
#projectGrid a {
  font-size: var(--size-m);
  font-weight: var(--fw-regular);
  text-decoration: none;
  line-height: 0.8rem;
  transition: 1s;
}

#projectGrid p {
  --CASL: 1;
  font-size: var(--size-l);
  font-weight: var(--fw-light);
  text-decoration: none;
  line-height: 2.3rem;
  transition: 1s;
}

#projectGrid a:hover p {
  --CASL: -10;
  font-weight: var(--fw-bold);
  letter-spacing: 0.01rem;
}

/* =========================================
------------------ HEADER ---------------
========================================= */

header {
  padding: 3rem 1rem 1rem 3rem;
  margin-bottom: 5rem;
}

header h3 a {
  text-decoration: none;
  color: var(--clr-black);
}

/* =========================================
------------------ PROJECT ---------------
========================================= */

#singleProject article {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 1rem;
}

.projectIntro {
  grid-column: span 3;
  padding: 3rem;
  min-height: 100vh;
}

.sticky {
  position: sticky;
  top: 1rem;
}

#singleProject h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

#singleProject h2 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

#singleProject p {
  font-size: var(--size-m);
  font-weight: var(--fw-light);
  line-height: 1.4rem;
}

#singleProject p a {
  font-size: var(--size-s);
  font-weight: var(--fw-regular);
  transition: 1s;
  text-decoration: none;
}

#singleProject p a:hover {
  --slnt: -10;
  font-size: var(--size-m);
  font-weight: 300;
}

.bio::before {
  display: block;
  content: "***";
  text-align: center;
  font-weight: var(--fw-regular);
  font-size: var(--size-l);
  color: var(--clr-acc-1);
  margin: 1.4rem 0 1rem 0;
}

.projectImg {
  grid-column: span 5;
  margin: 8rem 3rem 1rem 3rem;
}

.projectImg img {
  width: 100%;
  margin-bottom: 2rem;
}

.projectImg img:last-child {
  margin-bottom: none;
}

#singleProject #projectGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, lfr);
  grid-gap: 1rem;
  background: none;
  margin: 6rem 0;
}

#singleProject #projectGrid img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  background: var(--clr-grey);
  padding: 0;
}

#singleProject #projectGrid > div {
  border: 0;
}

#singleProject #projectGrid > a > div {
  display: none;
}

/* =========================================
--------------- RESPONSIVENESS -------------
========================================= */

@media (max-width: 1400px) {
  #projectGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  header p {
    width: 40vw;
  }
}

@media (max-width: 1100px) {
  #projectGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  header {
    padding: 1rem;
    margin-bottom: 2rem;
  }

  #singleProject article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .projectIntro {
    grid-column: span 1;
    padding: 1rem;
  }

  .projectImg {
    grid-column: span 2;
    margin: 1rem;
  }
  
  .projectImg img {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  #projectGrid, #instructors {
    grid-template-columns: repeat (3, 1fr);
  }

  .intro {
    padding: 1rem;
    grid-column: span 2;
    grid-row: span 2;
    aspect-ratio: 1;
  }

  .lecturer {
    padding: 1rem;
    grid-column: span 3;
    grid-row: span 2;
    aspect-ratio: 1;
  }

  #credits {
    padding: 1rem;
  }
}

@media (max-width: 600px) {
  #projectGrid .intro p {
    --CASL: 1;
    line-height: 2.4rem;
    font-size: var(--size-l);
    display: contents;
  }

  #projectGrid, #instructors, #credits {
    grid-template-columns: 1fr;
  }

  #credits {
    padding: 1rem;
  }

  .intro, .lecturer {
    padding: 1rem;
    grid-column: span 1;
    grid-row: span 1;
    aspect-ratio: 1;
  }

  header {
    padding: 1rem;
    margin-bottom: 2rem;
  }

  #singleProject article {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .projectIntro {
    grid-column: span 1;
    padding: 1rem;
  }

  .projectImg {
    grid-column: span 1;
    margin: 1rem;
  }
  
  .projectImg img {
    margin-bottom: 1rem;
  }
}
