:root {
  --clr-black: #040404;
  --clr-grey: #f5f5f5;
  --clr-white: #ffffff;
  --clr-red: #FF1A19;

  --clr-acc-1: #000;
  --clr-acc-2: #000;

  --MONO: 0;   /* Monospace    */
  --CASL: 0;   /* Casual       */
  --slnt: 0;   /* Upright      */
  --CRSV: 0.5; /* Auto Cursive */

  --size-s: 1rem;
  --size-m: 1.5rem;
  --size-l: 2.5rem;
  --size-xl: 2.8rem;

  --fw-light: 350;
  --fw-regular: 500;
  --fw-bold: 1000;

  --transition-dur: 400ms;
  --font-family-main: 'Sora', sans-serif;
}

::-webkit-scrollbar {
  width: var(--size-s);
}

::-webkit-scrollbar-track {
  background-color: var(--clr-grey);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-acc-2);
}

::selection {
  color: var(--clr-white);
  background: var(--clr-acc-1);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-variation-settings: 
    "MONO" var(--MONO), "CASL" var(--CASL),
    "slnt" var(--slnt), "CRSV" var(--CRSV);
}

html,
body {
  background: var(--clr-grey);
  font-family: var(--font-family-main);
  height: 100%;
  margin: 0;
  overflow: auto;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

p {
  font-size: var(--size-s);
}

a {
  color: var(--clr-acc-2);
}

/* =========================================
------------------ FONTS -------------------
========================================= */

@font-face {
  font-family: 'Beatrice No. 30';
  src: url(../font/BeatriceNo30-Regular.woff) format("woff");
}
.beatrice-no-30 {
  font-family: 'Beatrice No. 30', var(--font-family-main);
}

@font-face {
  font-family: 'Chelt';
  src: url(../font/Chelt-Regular.woff) format("woff");
}
.chelt {
  font-family: 'Chelt', var(--font-family-main);
}

@font-face {
  font-family: 'Jasmine de Lune';
  src: url(../font/Jasmine-Regular.woff) format("woff");
}
.jasmine-de-lune {
  font-family: 'Jasmine de Lune', var(--font-family-main);
}

@font-face {
  font-family: 'Didoni';
  src: url(../font/Didoni-Regular.woff) format("woff");
}
.didoni {
  font-family: 'Didoni', var(--font-family-main);
}

@font-face {
  font-family: 'El Greco';
  src: url(../font/ElGreco-Regular.woff) format("woff");
}
.el-greco {
  font-family: 'El Greco', var(--font-family-main);
}

@font-face {
  font-family: 'Hojaldre Medieval';
  src: url(../font/HojaldreMedieval-Regular.woff) format("woff");
}
.hojaldre-medieval {
  font-family: 'Hojaldre Medieval', var(--font-family-main);
}

@font-face {
  font-family: 'Ioannem';
  src: url(../font/Ioannem-Regular.woff) format("woff");
}
.ioannem {
  font-family: 'Ioannem', var(--font-family-main);
}

@font-face {
  font-family: 'Jasmine';
  src: url(../font/Jasmine-Regular.woff) format("woff");
}
.jasmine {
  font-family: 'Jasmine', var(--font-family-main);
}

@font-face {
  font-family: 'Jest';
  src: url(../font/Jest-Regular.woff) format("woff");
}
.jest {
  font-family: 'Jest', var(--font-family-main);
}

@font-face {
  font-family: 'Klenkens';
  src: url(../font/Klenkens-Regular.woff) format("woff");
}
.klenkens {
  font-family: 'Klenkens', var(--font-family-main);
}

@font-face {
  font-family: 'Lakhos';
  src: url(../font/Lakhos-Regular.woff) format("woff");
}
.lakhos {
  font-family: 'Lakhos', var(--font-family-main);
}

@font-face {
  font-family: 'Mermaid Caslon';
  src: url(../font/MermaidCaslon-Regular.woff) format("woff");
}
.mermaid-caslon {
  font-family: 'Mermaid Caslon', var(--font-family-main);
}

@font-face {
  font-family: 'Mr. William';
  src: url(../font/MrWilliam-Regular.woff) format("woff");
}
.mr-william {
  font-family: 'Mr. William', var(--font-family-main);
}

@font-face {
  font-family: 'Norrland';
  src: url(../font/Norrland-Regular.woff) format("woff");
}
.norrland {
  font-family: 'Norrland', var(--font-family-main);
}

@font-face {
  font-family: 'Romane';
  src: url(../font/Romane-Regular.woff) format("woff");
}
.romane {
  font-family: 'Romane', var(--font-family-main);
}

@font-face {
  font-family: 'Rudo';
  src: url(../font/Rudo-Regular.woff) format("woff");
}
.rudo {
  font-family: 'Rudo', var(--font-family-main);
}

@font-face {
  font-family: 'Tweedle';
  src: url(../font/Tweedle-Regular.woff) format("woff");
}
.tweedle {
  font-family: 'Tweedle', var(--font-family-main);
}

/* =========================================
---------- SPECIAL CONSIDERATIONS ----------
========================================= */

#projectGrid .font.el-greco{
  font-size: 1.8rem;
}

#projectGrid .font.hojaldre-medieval{
  font-size: 1.3rem;
}

#projectGrid .font.jasmine-de-lune{
  font-size: 1.4rem;
}

#projectGrid .font.mermaid-caslon{
  font-size: 1.4rem;
}

#singleProject .chelt p,
#singleProject .chelt a {
  font-size: 1.1rem;
}

#singleProject .el-greco h2 {
  font-size: 2rem;
  line-height: 1rem;
}

#singleProject .el-greco p,
#singleProject .el-greco a {
  font-size: 1.4rem;
  line-height: 1.6rem;
}


#singleProject .klenkens p,
#singleProject .klenkens a {
  font-size: 1.1rem;
}

#singleProject .rudo p,
#singleProject .rudo a {
  font-size: 1.1rem;
}

/* =========================================
------------------ HEADER ------------------
========================================= */

.banner {
  background: var(--clr-red);
  color: var(--clr-white);
  padding: 1rem 3rem;
  text-transform: uppercase;
  font-size: var(--size-s);
  font-weight: var(--fw-bold);
}

header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 3rem 3rem;
}

header section {
  grid-column: span 3;
}

header img {
  width: 400px;
  grid-column: span 2;
  padding: 0 3rem;
  margin: auto;
}

h1 {
  margin-top: 0;
  color: var(--clr-acc-1);
  font-size: var(--size-xl);
  font-weight: var(--fw-bold);
  transition: var(--transition-dur);
}

h3 {
  font-size: var(--size-l);
  font-weight: var(--fw-bold);
  margin: 0;
  transition: var(--transition-dur);
}

h1 a,
h3 a {
  text-decoration: none;
}

p a {
  transition: var(--transition-dur);
}

p a:hover {
  font-weight: var(--fw-bold);
}

/* =========================================
------------------ FOOTER ------------------
========================================= */

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.2rem;
  padding: 3rem 3rem 4rem;
}

footer h3 {
  font-size: var(--size-m);
  font-weight: var(--fw-regular);
}

/* =========================================
---------------- PROJECT GRID --------------
========================================= */

#projectGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.2rem;
  padding: 0 2.9rem;
  width: 100%;
}

#projectGrid .square {
  aspect-ratio: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0, .2);
  border-radius: .25rem;
  color: var(--clr-black);
  transition: all var(--transition-dur);
  text-decoration: none;
}

#projectGrid .container {
  text-align: center;
  line-height: 1rem;
}

#projectGrid .font {
  font-size: var(--size-m);
}

#projectGrid .font h2 {
  font-weight: var(--fw-regular);
}

#projectGrid .designer {
  color: rgb(0, 0, 0, .6);
  font-size: var(--size-s);
  font-weight: var(--fw-regular);
  transition: all var(--transition-dur);
}

#projectGrid a:hover {
  background: var(--clr-red);
  color: var(--clr-white);
}

#projectGrid a:hover .designer{
  color: rgb(255, 255, 255, .6);
}

/* =========================================
------------------ PROJECT PAGE ------------
========================================= */

#singleProject header {
  display: block;
  padding: 2rem 3rem;
}

#singleProject h3 a {
  font-size: var(--size-s);
  font-weight: var(--fw-regular);
  transition: var(--transition-dur);
}

#singleProject h3 a:hover {
  font-weight: var(--fw-bold);
}

#singleProject article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 1rem;
}

.projectIntro {
  padding: 0 3rem 3rem;
}

#singleProject article h1 {
  margin: 0;
  font-weight: var(--fw-regular);
}

#singleProject article p a {
  font-size: var(--size-s);
  transition: none;
  text-decoration: underline;
}

#singleProject article p a:hover {
  font-weight: var(--fw-bold);
}

.bio {
  margin-top: 0;
}

.bio::before {
  color: var(--clr-acc-1);
  content: "———";
  display: block;
  font-weight: var(--fw-regular);
  font-size: var(--size-m);
  margin-bottom: 1rem;
  text-align: center;
}

.featuredImage {
  padding: 2rem 3rem 0;
}

.featuredImage img {
  width: 100%;
  margin-bottom: 2rem;
}

.projectImages img {
  width: 100%;
  padding: 0 3rem;
}

#singleProject #projectGrid {
  grid-gap: 1.2rem;
  padding: 3rem;
}

/* =========================================
--------------- RESPONSIVENESS -------------
========================================= */

@media (max-width: 1400px) {
  #projectGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1100px) {
  #projectGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  ::-webkit-scrollbar {
    width: .5rem;
  }

  header {
    display: block;
  }

  #logo {
    display: none;
  }

  #singleProject article {
    display: block;
  }

  .featuredImage {
    padding: 0 3rem;
  }

  .featuredImage img {
    margin-bottom: 0;
  }
}

@media (max-width: 680px) {
  .banner, 
  header, 
  #projectGrid, 
  footer,
  #singleProject header,
  .projectIntro,
  .featuredImage,
  .projectImages {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  ::-webkit-scrollbar {
    width: .1rem;
  }

  #projectGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
